@{
    Layout = "~/Views/Share/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>账号管理系统</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">账号管理系统</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="index">首页</a></li>
                    <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">功能 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">业务功能</li>
                            <li><a href="/Admin/PassWord/PWList" target="Main">账号查询</a></li>
                            <li><a href="/Admin/AddUserWeb" target="Main">账号添加</a></li>
                            <li><a href="/website/Websitelist" target="Main">网站管理</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">系统功能</li>
                            <li><a href="#">设置</a></li>
                        </ul>
                    </li>-->
                    <li><a href="/Admin/PassWord/PWList" target="Main">账号查询</a></li>
                    <li><a href="/website/Websitelist" target="Main">网站管理</a></li>
                </ul>
                @{
                    string username ="";
                    if(Session["loginuserkey"]!=null)
                    {
                        username= ((DataBase.AS_user)Session["loginuserkey"]).userid;
                    }
                    
                    if (string.IsNullOrEmpty(username))
                    {
                        <form class="navbar-form navbar-right">

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="用户名">
                                <input type="text" class="form-control" placeholder="密码">
                            </div>
                            <button type="button" class="btn btn-default">登录</button>
                        </form>
                }
                    else
                    {
                        <div class="form-group navbar-right">
                            <span>欢迎你：</span><span>@username</span>
                        </div>
                }
                }

            </div>
            <!--collapse-->
        </div>
        <!--container结束-->
    </nav>
    <div style="height: 600px">
        <iframe name="Main" width="100%" height="100%" src="/Admin/PassWord/PWList" frameborder="0" seamless></iframe>

    </div>
</body>
</html>
