<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>网站列表</title>
</head>
<body>
    <div id="tbl-website">
        <table id="list2" class="table"></table>
        
    </div>
    <input type="button" name="btnAddWebSite" value="添加" />

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加</h4>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="~/Scripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script>
    $(
       function () {
           init();
       }
      );


    function init() {
        $.ajax(
            {
                url: "Websitelist/GetWebSiteList",
                data: { userid: "admin" },
                datatype: "json",
                success: function (msg) {
                    var strHtml = "<table class='table'><tr><th>网站</th><th>操作</th></tr>"
                    msg = eval('(' + msg + ')');
                    $(msg).each(
                            function (index, item) {
                                strHtml += "<tr><td>" + item.website + "</td><td><input type='button' id='btnEdit' UUID='"+item.UUID+"' value='编辑'/><input type='button' UUID='"+item.UUID+"' value='删除'/></td></tr>";
                            }
                        )
                    $("#list2").append(strHtml);
                },
                error: function (msg) {
                    alert(msg);
                }
            }
            );

        //jQuery("#list2").jqGrid('navGrid', '', { edit: true, add: true, del: true });
    }


    function clear() {
        $(".table").children().detach();
    }

    //jQuery("#list2").jqGrid({
    //    url: 'Websitelist/GetWebSiteList',
    //    datatype: "json",
    //    loadonce: true,
    //    colNames: ["网站", "操作"],
    //    colModel: [
    //        { name: "website", index: "website", width: 200 },
    //        {
    //            name: "edit", index: "edit", width: 90,
    //            formatter: function (cellvalue, options, rowObject) {
    //                return "<input type='button'value='编辑'/> <input type='button' value='删除'/>";
    //            },
    //        },

    //    ],
    //    rowNum: 10,
    //    rowList: [10, 20, 30],
    //    //pager: "#pager2",
    //    sortname: "website",
    //    viewrecords: true,
    //    sortorder: "desc",
    //    caption: "网站列表",
    //    jsonReader: {

    //        root: "rows",

    //        page: "page",

    //        total: "total",

    //        records: "records",

    //        repeatitems: false,

    //        id: "0"
    //    }
    //});
    $("input[name='btnAddWebSite']").click(
        function(){
                        $.get("/Website/Detail/index", "", function (data) {
                            $('#myModal .modal-body').html(data);
                        }
                )
                        $('#myModal').modal({ show: true, backdrop: false })
        }
    );

    $("#myModal .close").click(
    function () {
        //jQuery("#list2").trigger("reloadGrid");
        clear();
        init();
        

    }
    );
    $("#myModal .btn").click(
         function () {
             clear();
             init();
         }
        );

    $("#btnEdit").click(
        function()
        {
            $.get("/Website/Detail/index", { UUID: $("#btnEdit").attr("UUID") }, function (data) {
                $('#myModal .modal-body').html(data);
            }
            );
        }
        );

</script>
