@{
    Layout = "~/Views/Share/_Layout.cshtml";
}

    <table id="table-list" class="table">
    </table>

<input style="margin-top: 10px;" type="button" name="btnAdd" class="btn btn-default" value="添加" />

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function ()
    {

        //1.初始化Table
        var oTable = new TableInit();
        oTable.Init();

        //2.初始化Button的点击事件
        /* var oButtonInit = new ButtonInit();
        oButtonInit.Init(); */

    });


    var TableInit = function ()
    {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function ()
        {
            $('#table-list').bootstrapTable({
                url: '/PassWord/GetList',         //请求后台的URL（*）
                method: 'post',                      //请求方式（*）
                //toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                //pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                //queryParams: oTableInit.queryParams,//传递参数（*）
                //sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                //pageNumber: 1,                       //初始化加载第一页，默认第一页
                //pageSize: 50,                       //每页的记录行数（*）
                //pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                //strictSearch: true,
                //clickToSelect: true,                //是否启用点击选中行
                //height: 460,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "uuid",                     //每一行的唯一标识，一般为主键列
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                columns: [{
                    field: "uuid",
                    title: '序号',
                    visible: false,

                }, {
                    field: "userid",
                    title: "用户ID",
                    align: "center",
                    valign: "middle",
                    visible: false,
                }, {
                    field: "username",
                    title: "用户名",
                    align: "center",
                    valign: "middle"
                }, {
                    field: "password",
                    title: "密码",
                    align: "center",
                    valign: "middle"
                }, {
                    field: "website",
                    title: "网站",
                    align: "center",
                    valign: "middle"
                },
                {
                    title: "操作",
                    align: "center",
                    valign: "middle",
                    formatter: function (value,row, index)
                    {
                        return "<a onclick=deleteRow('" + row.uuid + "')>删除</a>";
                    }
                }
                ]
            });
        };

        //得到查询的参数
        //oTableInit.queryParams = function (params)
        //{
        //    var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
        //        limit: params.limit,   //页面大小
        //        offset: params.offset,  //页码
        //        sdate: $("#stratTime").val(),
        //        edate: $("#endTime").val(),
        //        sellerid: $("#sellerid").val(),
        //        orderid: $("#orderid").val(),
        //        CardNumber: $("#CardNumber").val(),
        //        maxrows: params.limit,
        //        pageindex: params.pageNumber,
        //        portid: $("#portid").val(),
        //        CardNumber: $("#CardNumber").val(),
        //        tradetype: $('input:radio[name="tradetype"]:checked').val(),
        //        success: $('input:radio[name="success"]:checked').val(),
        //    };
        //    return temp;
        //};
        return oTableInit;
    };


    $("input[name='btnAdd']").click(
            function ()
            {
                $.get("AddUserWeb/index", "", function (data)
                {
                    $('#myModal .modal-body').html(data);
                }
                );
                $('#myModal').modal({ show: true, backdrop: false })
            });
    function deleteRow(row)
    {
        zeroModal.confirm(
            {
                content: '确认删除吗？',
                contentDetail: '删除后不能恢复',
                okFn: function ()
                {
                    $("#table-list").bootstrapTable("removeByUniqueId", row);
                    $.ajax(
                        {
                            url: "/PassWord/DeletePassWord",
                            dataType: "json",
                            type: "POST",
                            data: { id: row },
                            success: function (data)
                            {
                                if (data == "SUCCESS")
                                {
                                    zeroModal.alert({ content: "删除成功！" });
                                }
                                else
                                {
                                    zeroModal.alert({ content: "删除失败！" });
                                }
                            },
                            error: function (data)
                            {
                                zeroModal.alert({ content: "删除失败！" });
                            },
                        }
                        );
                },
                cancelFn: function ()
                {
                    zeroModal.closeAll();
                }
            }
            );
    }
</script>
